<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="WalletBuddy" connectionString="Data Source=LAPTOP-IVRH936A\SQLEXPRESS;Initial Catalog=WalletBuddyDB;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
        <add name="WalletBuddy.Properties.Settings.WalletBuddyDBConnectionString"
            connectionString="Data Source=LAPTOP-IVRH936A\SQLEXPRESS;Initial Catalog=WalletBuddyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>